<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>

    <div class="container-fluid">
    <div class="masonry">
        <% if (allUsers) { %>
          <% for (var i=0; i< allUsers.length; i++) { %>
            <div class="item allUsers">
                <% if (allUsers[i].facebook.id != null) { %>
                  <h2 class="fa fa-facebook"> Facebook</h2><br>
                  <img style="margin-bottom: 15px" src="https://avatars.io/gravatar/<%= allUsers[i].facebook.id %>"><br>
                  <strong>name</strong>: <a href="userPage/<%- allUsers[i]._id%>"><%= allUsers[i].facebook.name %></a><br>
                <% } %>

                <% if (allUsers[i].twitter.id != null) { %>
                  <h2 class="fa fa-twitter"> Twitter</h2><br>
                  <img class="mainImage" src="https://avatars.io/twitter/<%= allUsers[i].twitter.username %>"><br>
                  <strong>username</strong>: <a href="userPage/<%- allUsers[i]._id%>"><%= allUsers[i].twitter.username %> </a><br>
                  <strong>displayName</strong>: <a href="userPage/<%- allUsers[i]._id%>"><%= allUsers[i].twitter.displayName %></a> <br>
                <% } %>

                <% if (allUsers[i].google.id != null) { %>
                  <h2 class="fa fa-google-plus"> Google</h2><br>
                  <img style="margin-bottom: 15px" src="https://avatars.io/gravatar/<%= allUsers[i].google.email %>"><br>
                <strong>name</strong>: <a href="userPage/<%- allUsers[i]._id%>"><%= allUsers[i].google.name %></a> <br>
                <% } %>

            </div>
          <% } %>
        <% } %>
    </div>
    </div>
    <% include partials/modal.ejs %>
    <% include partials/footer.ejs %>
  </body>

</html>
