<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <h4>Your Pictures</h4>
    <div class="container-fluid">
    <div class="masonry">
        <% if (userPics) { %>
        <% for (var i=0; i< userPics.length; i++) { %>
          <div class="item">
            <a href="/removePic/<%- userPics[i]._id %>" class="btn close" aria-hidden="true">&times;</a>
            <img class="mainImage" onerror="defaultImage(this)" src="<%- userPics[i].link %>">
            <h5><%- userPics[i].description %></h5>
              <div>
                <h5 style="float: left; margin: 0"><%- userPics[i].username %></h5>
                  <% if (user) { %>
                    <% if (userPics[i].likes.indexOf(user._id) == -1) { %>
                      <h5 style="float: right; margin: 0"><a href="/likePic/<%- userPics[i]._id %>"><img class="heartImage" src="/img/heartEmpty.png"></a> <%- userPics[i].likes.length %></h5>
                    <% } else { %>
                      <h5 style="float: right; margin: 0"><a href="/dislikePic/<%- userPics[i]._id %>"><img class="heartImage" src="/img/heartFull.ico"></a> <%- userPics[i].likes.length %></h5>
                    <% } %>
                  <% } else { %>
                    <h5 style="float: right; margin: 0"><a href="/likePic/<%- userPics[i]._id %>"><img class="heartImage" src="/img/heartEmpty.png"></a> <%- userPics[i].likes.length %></h5>
                  <% } %>
              </div>
          </div>
        <% } %>
        <% } %>
    </div>
    </div>
    <% include partials/modal.ejs %>
    <% include partials/footer.ejs %>
  </body>
</html>
