<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>
    <% if (individualPics) { %>
      <h4><%- individualPics[0].username %></h4>
      <div class="container-fluid">
        <div class="masonry">
        <% for (var i=0; i< individualPics.length; i++) { %>
          <div class="item">
            <img class="mainImage" onerror="defaultImage(this)" src="<%- individualPics[i].link %>">
            <h5><%- individualPics[i].description %></h5>
              <div>
                <h5 style="float: left; margin: 0"><%- individualPics[i].username %></h5>
                  <% if (user) { %>
                    <% if (individualPics[i].likes.indexOf(user._id) == -1) { %>
                      <h5 style="float: right; margin: 0"><a href="/likePic/<%- individualPics[i]._id %>"><img class="heartImage" src="/img/heartEmpty.png"></a> <%- individualPics[i].likes.length %></h5>
                    <% } else { %>
                      <h5 style="float: right; margin: 0"><a href="/dislikePic/<%- individualPics[i]._id %>"><img class="heartImage" src="/img/heartFull.ico"></a> <%- individualPics[i].likes.length %></h5>
                    <% } %>
                  <% } else { %>
                    <h5 style="float: right; margin: 0"><a href="/likePic/<%- individualPics[i]._id %>"><img class="heartImage" src="/img/heartEmpty.png"></a> <%- individualPics[i].likes.length %></h5>
                  <% } %>
              </div>
          </div>
        <% } %>
        <% } %>
      </div>
    </div>
    <% include partials/modal.ejs %>
    <% include partials/footer.ejs %>
  </body>
</html>
